body {
    background-color: #5D136C;
}
/* ============= CONTAINER PADRE ============= */
.b-container{
    transition: box-shadow 0.3s ease;
    background-color: #FF9781;
    font-family: "Noto Sans", sans-serif;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, 0.3);
}
.b-container:hover{
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
}
/* =========================================== */

/* ============= DATOS RECIBIDOS ============= */
.b-data{
    background-color: #88B065;
    max-height: 7.5em;  
    overflow: auto;
}
/* =========================================== */
/* ============= RESULTADOS ================== */
.b-results{
    background-color: #9510AC;
}
/* =========================================== */
.b-min-h{
    min-height: 3em; /* Aplica a resultados */
}