body {
  background-color: #5d136c;
}
/* # CONTAINER PADRE  */
.b-container {
  transition: box-shadow 0.3s ease;
  background-color: #ff9781;
  font-family: 'Noto Sans', sans-serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.b-container:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
}
/* # */
/* # DATOS RECIBIDOS */
.b-data {
  background-color: #88b065;
  max-height: 7.5em;
  overflow: auto;
}
.b-data p {
  margin: 8px;
}
/* # */
/* # RESULTADOS */
.b-results {
  background-color: #9510ac;
}
/* # */
.b-min-h {
  min-height: 3em; /* Aplica a resultados */
}
